body{
  background-image: url('../imagenes/pexels-olia-danilevich-5088017.jpg');
}
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    padding-left: 150px;
}




.card {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    margin: 20px;
    text-align: center;
}

.card2 {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 250px;
    margin: 20px;
    text-align: center;
    
}

.input-group {
    margin: 10px 0;
    text-align: left;
    padding-left: 70px;
    padding-right: 0%;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 0%;
  }

  select, input[type="file"], input[type="text"], input[type="password"], button {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 20px;
  }

  button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }