body{
  background-image: url('../imagenes/pexels-olia-danilevich-5088017.jpg');
}
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    
}
.divh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
   
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
  }

  .card {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px;
    margin: 10px;
  }

  .cardh {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    margin: 10px;
    height: 500px;
  }

  .card h2 {
    color: #2c682c;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    border: 1px solid #4caf50;
    padding: 8px;
    text-align: left;
    width: 80px;
    height: 40px;
  }

  th {
    background-color: #4caf50;
    color: white;
    width: 60px;
  }

  .add-card {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .add-card button {
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px; /* Asegura que el botón ocupe todo el ancho */
    
  }