body {
    font-family: Arial, sans-serif;
  
        background-image: url('../imagenes/pexels-olia-danilevich-5088017.jpg');
        background-size: cover;
     
    
  }


  .sidebar {
    width: 250px;
    height: 650px;
    background-color: #45a049;
    padding-top: 20px;
    position: sticky;
}
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    padding-left: 150px;
}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}






.card {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px;
    text-align: center;
    height: 520px;
}

.card2 {
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 250px;
    margin: 20px;
    text-align: center;

}

.card3 {
    display: flex;
    justify-content: center;
    background-color: #e0f7e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    height: auto;
    margin: 20px;
    text-align: center;

    margin-left: 110px;
}



.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select,
input[type="text"],
button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    margin: 20px;
    background-color: #d4f7d4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 12px 16px;
    text-align: center;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #9adf9a;
  }